<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <span ></span>
  <span id="spacer">Note It Down</span>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
            <a mat-button routerLink=""  (click)="goToHome()" >Home</a>
          </li>
          <li  *ngIf="admin" >
            <a mat-button routerLink="" (click)="goToAdmin()">Admin</a>
          </li>
          <li>
            <a mat-button routerLink=""  (click)="goToUploads()">Upload Notes</a>
          </li>
          <li>
            <a mat-button routerLink=""  (click)="auth.logout()">Logout</a>
          </li>
      </ul>
  </div>
  <mat-menu  #dropMenu="matMenu">
    <a mat-button routerLink=""  (click)="goToHome()" >Home</a>
    <a *ngIf="admin" mat-button routerLink="" (click)="goToAdmin()">Admin</a>
    <a mat-button routerLink=""  (click)="goToUploads()">Upload Notes</a>
    <a mat-button routerLink=""  (click)="auth.logout()">Logout</a>
</mat-menu>
</mat-toolbar>



  <div class="container-fluid">
    <div class="home-header">
    <div class="light">Choose from the most popular notes</div>
    <div class="heading">
    </div>
    </div>

    <div *ngIf="subject">
      <mat-form-field appearance="fill">
        <mat-label>Sort notes by:</mat-label>
        <mat-select>
          <mat-option disabled>Sort by</mat-option>
          <mat-option  value="Newest" (click)="sortByNewest()">
            Newest
          </mat-option>
          <mat-option value="Oldest" (click)="sortByOldest()">
            Oldest
          </mat-option>
          <mat-option value="Popular" (click)="sortByRating()">
            Popular  
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="content" *ngIf="resultsArray.length>0; else showthis">
    <div fxLayout="row wrap" fxLayoutGap="18px grid">
      <div fxFlex="70%" style="margin:10px 20px;" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let notes of resultsArray">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Notes on {{notes.subject}} </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
                Filename : {{notes.filename}}
            </p>
            <p>
             Batch : {{notes.year}}
            </p>
            <p>
                Ratings : 
                
                <ngb-rating *ngIf="notes.ratings>0; else showthis" [max]="5" [(rate)]="notes.ratings" [readonly]="true"></ngb-rating>
                <ng-template #showthis>No ratings are given</ng-template>
            </p>
            <p>
              Uploaded on : {{notes.uploaded_date | date:'short'}}
            </p>

          </mat-card-content>
          <mat-card-actions>
            <button  mat-raised-button style="margin:3px 3px" (click)="openAddReviewDialog(notes)"> Add a review </button>
            <button  mat-raised-button style="margin:3px 3px" (click)="openFile(notes)">Open notes</button>
            <button  mat-raised-button style="margin:3px 3px" (click)="openSeeReviewsDialog(notes)">See all the reviews</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>
    <ng-template  #showthis><h1 style="font-size:30px;">Currently no notes are available. Please upload some.</h1></ng-template>
    </div>
