<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <span ></span>
  <span id="spacer">Note It Down</span>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
            <a mat-button routerLink=""  (click)="goToHome()" >Home</a>
          </li>
          <li  *ngIf="admin" >
            <a mat-button routerLink="" (click)="goToAdmin()">Admin</a>
          </li>
          <li>
            <a mat-button routerLink=""  (click)="auth.logout()">Logout</a>
          </li>
      </ul>
  </div>
  <mat-menu  #dropMenu="matMenu">
    <a mat-button routerLink=""  (click)="goToHome()" >Home</a>
    <a *ngIf="admin" mat-button routerLink="" (click)="goToAdmin()">Admin</a>
    <a mat-button routerLink=""  (click)="auth.logout()">Logout</a>
</mat-menu>
</mat-toolbar>



  <div class="container-fluid">
  <div>
        <h1 style="text-align:center;margin-top: 50px">Manage your uploads</h1>
  </div>
  <div class="add-notes" style="margin-left:10%; margin-top:5%">
    <h2 strong>Add notes  - Only PDF's</h2>
    
    <form [formGroup]="myForm" enctype="multipart/form-data" method="post"  #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective,variable)">

      <mat-form-field appearance="fill">
        <mat-label>Major</mat-label>
        <mat-select (selectionChange)="majorChanged($event)" formControlName="Major">
          <mat-option *ngFor="let major of majors" [value]="major" >
            {{major}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Passing year</mat-label>
        <mat-select formControlName="Year" >
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Subject</mat-label>
        <mat-select formControlName="Subject" [disabled]="subjects.length==0">
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{subject}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
    <input
    style="width: 65%;left:40px"  
    id="file" 
    type="file" 
    name="samplefile"
    #variable
    (change)="onFileInput($event)"
    accept=".pdf"/>
    <button style="margin-top:20px" type="submit" [disabled]="!myForm.valid" mat-raised-button color="primary">
  Submit
</button> 
</div>
</form> 

  </div>
  </div>
  <!--<form [formGroup]="form" (ngSubmit)="onSavePost()">
    <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" placeholder="Title" formControlName="title"   matInput>
    
    </mat-form-field>
    <br>
    <button type="button" mat-stroked-button
    (click)="fileUplaoder.click()">Upload</button>
    <br>
    <input type="file" #fileUplaoder (change)="onSelect($event)">
    <div class="preview-image" *ngIf="imagePreview !== '' && imagePreview && form.get('image')">
    <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <br>
    <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea placeholder="Description" formControlName="description"
    rows="6" matInput>
    </textarea>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary"> Create </button>
    </form>-->

