a{
    text-decoration: none;font-size: 95%;white-space: normal;
}
.notes-blocks{
    margin:30px 20px;
}
.home-header{
    margin:30px 20px;
}
#spacer{
margin:10px 10px;
}
mat-toolbar{
    background-color: #00B4CC;
}
mat-toolbar div{
  margin-left:20px;
}
mat-label {
  color: #00B4CC;
}
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #00B4CC !important;

}

mat-form-field{
    margin:20px 20px;
}
.light {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    font-weight: 500;
    margin:10px 10px;
}
.heading {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 600;
}
.content {
    padding:10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.selections{
    margin:10px 10px;
}
.box{
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 20px;
    align-items: center;
    border-left: 4px
 solid rgb(16, 43, 69);
    font-weight: 600;
    border-top-color: rgb(16, 43, 69);
    border-right-color: rgb(16, 43, 69);
    border-bottom-color: rgb(16, 43, 69);
    padding-left: 12px;
    margin-bottom: 24px;
    padding-right: 12px;
    justify-content: space-between;
}
.gridcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}


mat-grid-tile {
    background: #e7fcfc;
    border-radius:10px;
  }
 

  .search {
    width: 100%;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 2px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 45px;
    height: 45px;
    border: none;
    background-color:white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    margin:5% 30%;
  }
  @media only screen and (max-width: 900px) {
    .wrap{
        width: 90%;
        margin:20px 5px;
      }
      #spacer{
        margin:0px 0px;
      }
      mat-toolbar div{
        margin:0px 0px;
      }
  }

  i{
   color:#00B4CC; 
  }
  