<mat-toolbar>
    <div fxHide.gt-xs>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <span ></span>
    <span id="spacer">Note It Down</span>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li  *ngIf="admin" >
              <a mat-button routerLink="" (click)="goToAdmin()">Admin</a>
            </li>
            <li>
              <a mat-button routerLink=""  (click)="goToUploads()">Upload Notes</a>
            </li>
            <li>
              <a mat-button routerLink=""  (click)="auth.logout()">Logout</a>
            </li>
        </ul>
    </div>
    <mat-menu  #dropMenu="matMenu">
      <a *ngIf="admin" mat-button routerLink="" (click)="goToAdmin()">Admin</a>
      <a mat-button routerLink=""  (click)="goToUploads()">Upload Notes</a>
      <a mat-button routerLink=""  (click)="auth.logout()">Logout</a>
  </mat-menu>
  </mat-toolbar>

<div class="container-fluid">
  <div class="home-header">
  <div class="light">Find your notes here</div>
  <div class="wrap">
    <div class="search">
      <form (ngSubmit)="search(formDirective)" [formGroup]="searchform" #formDirective="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>What are you looking for?</mat-label>
          <input type="text"
                 placeholder=""
                 color=" #00B4CC"
                 aria-label="Number"
                 matInput
                 (input)="onInputChange($event)"
                 [formControl]="searchtext"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (click)="onChangeOption(option)" *ngFor="let option of options" [value]="option.text">
              {{option.text}}
            </mat-option>
          </mat-autocomplete>     
        </mat-form-field>
        <button type="submit" class="searchButton" >
          <i class="fa fa-search"></i>
        </button>
      
      </form>
    </div>
 </div>
 <div class="light" style="text-align:center">Or</div>
  <div class="notes-blocks" *ngIf="!(clickedComputer || clickedElectrical || clickedElectronics || clickedInformation)">
  <div>
    <div class="box">
      Select Major of Engineering
    </div>
  </div>
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1" [gutterSize]="'10px'">
    <mat-grid-tile (click)="clickedComputer=true">
    <mat-grid-tile-header>Field- Engineering</mat-grid-tile-header>
    <h3>Computer Engineering</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="clickedElectrical=true">
    <mat-grid-tile-header>Field- Engineering</mat-grid-tile-header>
    <h3>Electrical Engineering</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="clickedElectronics=true">
    <mat-grid-tile-header>Field- Engineering</mat-grid-tile-header>
    <h3>Electronics and Communication </h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="clickedInformation=true">
    <mat-grid-tile-header>Field- Engineering</mat-grid-tile-header>
    <h3>Information Technology</h3>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <div class="notes-blocks" *ngIf="clickedComputer">
    <div>
    <div class="box">
      Select Your Subject
    </div>
    </div>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1" [gutterSize]="'10px'">
      <mat-grid-tile (click)="selectedSubject('Computer Engineering','Operating Systems')">
      <mat-grid-tile-header>Computer Engineering</mat-grid-tile-header>
      <h3>Operating Systems</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Computer Engineering','Design and Analysis of Algorithms')">
      <mat-grid-tile-header>Computer Engineering</mat-grid-tile-header>
      <h3>Design and Analysis of Algorithms</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Computer Engineering','Machine learning')">
      <mat-grid-tile-header>Computer Engineering</mat-grid-tile-header>
      <h3>Machine learning </h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Computer Engineering','Artificial Intelligence')">
      <mat-grid-tile-header>Computer Engineering</mat-grid-tile-header>
      <h3>Artificial Intelligence</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Computer Engineering','Object Oriented Programming')">
        <mat-grid-tile-header>Computer Engineering</mat-grid-tile-header>
        <h3>Object Oriented Programming</h3>
        </mat-grid-tile>
    </mat-grid-list> 
  </div>
  <div  class="notes-blocks" *ngIf="clickedInformation">
    <div>
    <div class="box">
      Select Your Subject
    </div>
    </div>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1" [gutterSize]="'10px'">
      <mat-grid-tile (click)="selectedSubject('Information Technology','Operating Systems')">
      <mat-grid-tile-header>Information Technology</mat-grid-tile-header>
      <h3>Operating Systems</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Information Technology','Design and Analysis of Algorithms')">
      <mat-grid-tile-header>Information Technology</mat-grid-tile-header>
      <h3>Design and Analysis of Algorithms</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Information Technology','Machine Learning')">
      <mat-grid-tile-header>Information Technology</mat-grid-tile-header>
      <h3>Machine learning </h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Information Technology','Artificial Intelligence')">
      <mat-grid-tile-header>Information Technology</mat-grid-tile-header>
      <h3>Artificial Intelligence</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Information Technology','Object Oriented Programming')">
        <mat-grid-tile-header>Information Technology</mat-grid-tile-header>
        <h3>Object Oriented Programming</h3>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div  class="notes-blocks" *ngIf="clickedElectrical">
    <div>
    <div class="box">
      Select Your Subject
    </div>
    </div>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1" [gutterSize]="'10px'">
      <mat-grid-tile (click)="selectedSubject('Electrical Engineering','Power electronics')">
      <mat-grid-tile-header>Electrical Engineering</mat-grid-tile-header>
      <h3>Power electronics</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Electrical Engineering','Microcontrollers')">
      <mat-grid-tile-header>Electrical Engineering</mat-grid-tile-header>
      <h3>Microcontrollers</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Electrical Engineering','Power Systems')">
      <mat-grid-tile-header>Electrical Engineering</mat-grid-tile-header>
      <h3>Power Systems </h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Electrical Engineering','Analog Electronics')">
      <mat-grid-tile-header>Electrical Engineering</mat-grid-tile-header>
      <h3>Analog Electronics</h3>
      </mat-grid-tile>
    </mat-grid-list> 
  </div>
  <div class="notes-blocks" *ngIf="clickedElectronics">
    <div>
    <div class="box">
      Select Your Subject
    </div>
    </div>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2:1" [gutterSize]="'10px'">
      <mat-grid-tile (click)="selectedSubject('Electronics and communication','Signals and Systems')">
      <mat-grid-tile-header>Electronics and communication</mat-grid-tile-header>
      <h3> Signals and Systems</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Electronics and communication','Analog circuits')">
      <mat-grid-tile-header>Electronics and communication</mat-grid-tile-header>
      <h3>Analog circuits</h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Electronics and communication','Digital Electronics')">
      <mat-grid-tile-header>Electronics and communication</mat-grid-tile-header>
      <h3>Digital Electronics </h3>
      </mat-grid-tile>
      <mat-grid-tile (click)="selectedSubject('Electronics and communication','Electromagnet Theory')">
      <mat-grid-tile-header>Electronics and communication</mat-grid-tile-header>
      <h3>Electromagnet Theory</h3>
      </mat-grid-tile>
    </mat-grid-list> 
  </div>
  

  </div>

